# .env.example
DATABASE_URL=postgresql://postgres.jyjcmhlrtmmeywwhuhof:BYBClub2026@aws-1-eu-central-1.pooler.supabase.com:5432/postgres
BIBLE_API_KEY=JT9CAQaoRjmSgdBxcT4tG
JWT_SECRET=72f2f2add23560722469e10034482923
NODE_ENV=development
PORT=3000
